<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css')}} href="css/yourStyles.css?<?php echo time(); ?>">
    </head>

    <body>
        <h1>Shopping list</h1>
        <div class="topnav">
            <ul>
                <a class="navbar-brand" href={{ url_for("index") }}>
                    <li><img src="https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" height="20" class="d-inline-block align-top" alt="">
                </a>

                {% if current_user.is_authenticated %}
                    <li><a href="/">Home</a>
                    <li><a class="active" href="find-recipe">Find recipe</a>
                    <li><a href="upload-receipt">Upload receipt</a>
                    <li><a href="my_lists">My shopping lists</a>
                    <li style="float:right"><a href="logout">Logout</a>
                    <li style="float:right"><a href ="#">My Profile</a>
                {% else %}
                    <li><a class="active" href="#">Home</a>
                    <li><a href="#">New Post</a>
                    <li style="float:right"><a href="login">Login</a>
                    <li style="float:right"><a href="registration">Registration</a>
                {% endif %}
            </ul>
        </div><br>

<h3>Find Recipe</h3>
<h6>At this page you can find any recipe you want</h6><br>

<script type="text/javascript">
        function toggle_display(){
          el = document.querySelector('.content_section');
          el2 = document.querySelector('.content2_section');

          if(el.style.display == 'none'){
              el.style.display = 'block'
              el2.style.display = "none"
          }else{
             el.style.display = 'none'
             el2.style.display = "block"
          }
        }
</script>


        <div class="content_section">
          <form  method="post">
          {{ form_diet.hidden_tag() }}

          {{ form_diet.query.label }} {{ form_diet.query() }}
          <br>  <br>
          {{ form_diet.diet.label }} {{ form_diet.diet() }}
          <br>  <br>
          {{ form_diet.excludeIngredients.label }} {{ form_diet.excludeIngredients() }}
          <br>  <br>
          {{ form_diet.intolerances.label }} {{ form_diet.intolerances() }}
          <br>
          {{ form_diet.submit_button() }}

        </form><br><br>
      </div>
      <br><br>
        <button onclick="toggle_display()">Display recipes</button>
      <div class="content2_section", style="display: none;">
      <br><br>
        <form>
          {{ form.hidden_tag() }}

          {{ form.recipe_chosen() }}
          <br>
          {{ form.submit_button() }}

      </form><br><br>
      </div>
      <div class="footer">
          <h6>Copyright 2020</h6>
      </div>

  </body>
</html>
