<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css')}} href="css/yourStyles.css?<?php echo time(); ?>">
    </head>

    <body>
        <h1>Shopping list</h1>
        <div class="topnav">
            <ul>
                <a class="navbar-brand" href={{ url_for("index") }}>
                    <li><img src="https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" height="20" class="d-inline-block align-top" alt="">
                </a>

                {% if current_user.is_authenticated %}
                    <li><a href="/">Home</a>
                    <li><a href="my-lists">Previous lists</a>
                    <li><a class="active" href="find-recipe">Find recipe</a>
                    <li><a href="upload-receipt">Upload receipt</a>
                    <li><a href="#">Analytics</a>
                    <li style="float:right"><a href="logout">Logout</a>
                    <li style="float:right"><a href "my-profile">My Profile</a>
                {% else %}
                    <li><a class="active" href="#">Home</a>
                    <li style="float:right"><a href="login">Login</a>
                    <li style="float:right"><a href="registration">Registration</a>
                {% endif %}
            </ul>
        </div><br>

<h3>Find Recipe</h3>
<h6>Don't know what you need? Here is a easy way to find the ingredients of your favored recipe</h6><br>
{% if choices == [] %}
<form  method="post"  class="formscss">
  {{ form_diet.hidden_tag() }}

    <div id="find_recipe">
        <div class="container">
            <div id="find_recipe-row" class="row justify-content-center align-items-center">
                <div id="find_recipe-column" class="col-md-6">
                    <div id="find_recipe-box" class="col-md-12">
                        <form id="find_recipe-form" class="form" action="" method="post">
                            <br><h3 class="text-center text-info"></h3><br>
                            <div class="form-group">
                                <label for="username" class="text-info">{{ form_diet.query.label }}</label><br>
                                {{ form_diet.query() }}
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">{{ form_diet.diet.label }}</label><br>
                                {{ form_diet.diet() }}
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">{{ form_diet.excludeIngredients.label }}</label><br>
                                {{ form_diet.excludeIngredients() }}
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">{{ form_diet.intolerances.label }}</label><br>
                                {{ form_diet.intolerances() }}
                            </div><br>
                            <div class="form-group">
                                {{ form_diet.submit_button() }}
                            </div>
                        </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>
{% endif %}

    <br><br>
    {% if choices != [] %}
    <h6 class="text-info">Type the number that is next to the recipe you want to add to your shopping list.</h6>
    <br>
    <br>
      <form method="post">
        {{ form2.hidden_tag() }}

        {% for i in range(0, 10) %}
        Recipe number {{ i + 1 }} :
        {{ choices[i][1] }}
        {{ choices[i][2] }}
        <br>
        <br>
         {% endfor %}
        <br>
        {{ form2.number() }}
        {{ form2.submit_button() }}

    </form><br><br>
    {% endif %}
    </div>


      <div class="footer">
          <h6>Copyright 2020</h6>
      </div>

  </body>
</html>
