<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css')}} href="css/yourStyles.css?<?php echo time(); ?>">
    </head>

    <body>
        <h1>Shopping list</h1>
        <div class="topnav">
            <ul>
                <a class="navbar-brand" href={{ url_for("index") }}>
                    <li><img src="https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" height="20" class="d-inline-block align-top" alt="">
                </a>

                {% if current_user.is_authenticated %}
                    <li><a class="active" href="/">Home</a>
                    <li><a href="my-lists">Previous lists</a>
                    <li><a href="find-recipe">Find recipe</a>
                    <li><a href="upload-receipt">Upload receipt</a>
                    <li><a href="analytics">Analytics</a>
                    <li style="float:right"><a href="logout">Logout</a>
                    <li style="float:right"><a href ="my-profile">My Profile</a>
                {% else %}
                    <li><a class="active" href="#">Home</a>
                    <li><a href="#">New Post</a>
                    <li style="float:right"><a href="login">Login</a>
                    <li style="float:right"><a href="register">Registration</a>
                {% endif %}
            </ul>
        </div><br><br>

        <div class="container" style="min-height:100% width:80%">
        	{% with messages = get_flashed_messages() %}
        	  {% if messages %}
        	    {% for message in messages %}
        		  <div class="alert alert-warning alert-dismissible" role="alert">
        		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        			{{message}}
        		  </div>
        		{% endfor %}
        	  {% endif %}
        	{% endwith %}
        </div>

        <h5>Add a product to your shopping list</h5><br>

        <form  method="post">
          {{ form.hidden_tag() }}

          {{ form.item.label }} {{ form.item() }}
          <br>
          {{ form.submit_button() }}

      </form><br>

        <br>
        <h2> The items you most often buy </h2>
<div class="row">
        {% for index, row in popular.iterrows() %}
        <br>
          <div class="card-special">

            <h3 class="card-title">{{ row["item"] }}</h3>

            <!--I had to comment out this line, as it would crash my browser if any of the popular items didnt have an image (maybe it was because of the Special Character of the item)-->
            <img class="card-img-bottom" src={{ row["path"] }} class="img" alt="Card image cap">

            <br>
          </div>
      {% endfor %}
  </div>
  </div>
</div><br><br><br><br>


          <h2> Your current list </h2>
          {% for index, row in items.iterrows() %}
          <br>
            <div class="card">
              <h5>{{ row["item"] }}</h5>
              <br>
              <form class="inline-form" method="post" action="{{ url_for('delete', item_id=row.id) }}">
                  <input class="btn" type="submit" name="delete" value="Delete">
              </form>
            </div>

          {% endfor %}

          <form  method="post">
            {{ form1.hidden_tag() }}

            <br>
            {{ form1.submit_button() }}

          </form><br><br>
          <div class="footer">
              <h6>Copyright 2020</h6>
          </div>
    </body>
</html>
