<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles.css')}} href="css/yourStyles.css?<?php echo time(); ?>">
    </head>

    <body>
        <h1>Shopping list</h1>
        <div class="topnav">
            <ul>
                <a class="navbar-brand" href={{ url_for("index") }}>
                    <li><img src="https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" height="20" class="d-inline-block align-top" alt="">
                </a>

                {% if current_user.is_authenticated %}
                    <li><a class="active" href="/">Home</a>
                    <li><a href="find-recipe">Find recipe</a>
                    <li><a href="upload-receipt">Upload receipt</a>
                    <li><a href="#">Analytics</a>
                    <li style="float:right"><a href="logout">Logout</a>
                    <li style="float:right"><a href ="my-profile">My Profile</a>
                {% else %}
                    <li><a href="#">Home</a>
                    <li><a href="#">New Post</a>
                    <li style="float:right"><a href="login">Login</a>
                    <li style="float:right"><a class="active" href="register">Registration</a>
                {% endif %}
            </ul>
        </div><br><br>

        <div class="container" style="min-height:100% width:80%">
        	{% with messages = get_flashed_messages() %}
        	  {% if messages %}
        	    {% for message in messages %}
        		  <div class="alert alert-warning alert-dismissible" role="alert">
        		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        			{{message}}
        		  </div>
        		{% endfor %}
        	  {% endif %}
        	{% endwith %}
        </div><br>

<html>
<form  method="post"  class="formscss">
  {{ form.hidden_tag() }}

  {{ form.fname.label }} {{ form.fname() }}
  <br>  <br>
  {{ form.lname.label }} {{ form.lname() }}
  <br>  <br>
  {{ form.uname.label }} {{ form.uname() }}
  <br>  <br>
  {{ form.email.label }} {{ form.email() }}
  <br>  <br>
  {{ form.password.label }} {{ form.password() }}
  <br>  <br>
  {{ form.submit_button() }}

</form>



<h5> Are you already registered? <a href="{{ url_for("login") }}">Sign in here</a></h5>
</html>
